<template>
  <div class="container">
    <span>Température {{ title }}</span>
    <span :class="['temp-icon', tempClass]">{{ temperature }}°C</span>
  </div>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  props: {
    title: String,
    temperature: Number
  },

  computed: {
    tempClass() {
      if (this.temperature < 5) {
        return "glacial";
      }
      if (this.temperature >= 5 && this.temperature < 12) {
        return "cold";
      }
      if (this.temperature >= 12 && this.temperature < 19) {
        return "temperate";
      }
      if (this.temperature >= 19 && this.temperature < 25) {
        return "warm";
      }
      if (this.temperature >= 25 && this.temperature < 35) {
        return "hot";
      }
      // above 35°C
      return "scorching";
    }
  }
});
</script>

<style scoped>
.container {
  width: 125px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 1rem;
  margin: 1rem;
  color: black;
  border: 3px solid #e0e0e0;
  box-shadow: inset 6px 6px 14px #bebebe, inset -6px -6px 14px #ffffff,
    6px 6px 14px #bebebe, -3px -3px 14px #ffffff;
}

.temp-icon {
  padding-top: 2px;
}

.temp-icon:before {
  display: inline-block;
  content: "";
  width: 1em;
  height: 1em;
  margin-right: 10px;
  border-radius: 50%;
  background: #bebebe;
}

.temp-icon.glacial:before {
  background: linear-gradient(145deg, #b5f2ff, #98cbdb);
  box-shadow: 2px 2px 4px #90c0cf, -2px -2px 4px #c2ffff;
}

.temp-icon.cold:before {
  background: linear-gradient(145deg, #00ccff, #00ace6);
  box-shadow: 2px 2px 4px #00a2d9, -2px -2px 4px #00dcff;
}

.temp-icon.temperate:before {
  background: linear-gradient(145deg, #5eff5e, #4fe14f);
  box-shadow: 2px 2px 4px #4bd54b, -2px -2px 4px #65ff65;
}

.temp-icon.warm:before {
  background: linear-gradient(145deg, #ffff31, #dee529);
  box-shadow: 2px 2px 4px #d2d827, -2px -2px 4px #ffff35;
}

.temp-icon.hot:before {
  background: linear-gradient(145deg, #ff8900, #e67300);
  box-shadow: 2px 2px 4px #d96d00, -2px -2px 4px #ff9300;
}

.temp-icon.scorching:before {
  background: linear-gradient(145deg, #ff0000, #e60000);
  box-shadow: 2px 2px 4px #d90000, -2px -2px 4px #ff0000;
}
</style>
