<template>
  <section>
    <h2>Température</h2>
    <ul>
      <li v-for="tempWidget in tempWidgets" :key="tempWidget.key">
        <temp-widget
          :title="tempWidget.title"
          :temperature="tempData[tempWidget.key]"
        />
      </li>
    </ul>
  </section>
</template>

<script>
import Vue from "vue";
import TempWidget from "./TempWidget.vue";
export default Vue.extend({
  components: {
    TempWidget
  },

  props: {
    tempData: {
      temp: Number,
      feelsLike: Number,
      tempMin: Number,
      tempMax: Number,
      pressure: Number,
      humidity: Number
    }
  },

  data: function() {
    return {
      tempWidgets: [
        { title: "réelle", key: "temp" },
        { title: "ressentie", key: "feels_like" },
        { title: "maximale", key: "temp_max" },
        { title: "minimale", key: "temp_min" }
      ]
    };
  }
});
</script>

<style scoped>
section {
  max-width: 500px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}
</style>
