<template>
  <table>
    <thead>
      <th>{{ cityName }}</th>
    </thead>
    <tr>
      <td>Pays :</td>
      <td>{{ country }}</td>
    </tr>
    <tr>
      <td>Coord. :</td>
      <td>[{{ coord.lon }}, {{ coord.lat }}]</td>
    </tr>
    <tr>
      <td>Heure :</td>
      <td>{{ new Date().toLocaleString() }}</td>
    </tr>
  </table>
</template>

<script>
import Vue from "vue";
export default Vue.extend({
  props: {
    cityName: String,
    coord: {
      lon: Number,
      lat: Number
    },
    country: String
  }
});
</script>

<style>
table {
  margin: 1em 0;
}

th {
  text-transform: capitalize;
}
</style>
