<template>
  <section class="outset conditions">
    <h2>Temps</h2>
    <img
      :src="`http://openweathermap.org/img/wn/${iconName}@2x.png`"
      :alt="description"
      :title="description"
    />
  </section>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    description: String,
    iconName: String
  }
});
</script>

<style>
.conditions img {
  filter: drop-shadow(4px 4px 3px#8f8f8f) drop-shadow(-4px -4px 3px #ffffff);
}

.description {
  text-transform: capitalize;
}
</style>
