<template>
  <table>
    <thead>
      <th>Soleil</th>
    </thead>
    <tr>
      <td>Lever :</td>
      <td>{{ lever }}</td>
    </tr>
    <tr>
      <td>Coucher :</td>
      <td>{{ coucher }}</td>
    </tr>
  </table>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    sunrise: Number,
    sunset: Number
  },

  computed: {
    lever() {
      const date = new Date(this.sunrise * 1000);
      return date.getHours() + "h" + date.getMinutes();
    },
    coucher() {
      const date = new Date(this.sunset * 1000);
      return date.getHours() + "h" + date.getMinutes();
    }
  }
});
</script>

<style></style>
