<template>
  <div class="searchBar">
    <input
      type="text"
      name="search"
      id="search"
      placeholder="Paris, Lyon, Grenoble..."
      @change="changeCityNameHandler"
    />
    <label for="search">
      <button type="button">
        Rechercher
      </button>
    </label>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  methods: {
    changeCityNameHandler(e: InputEvent) {
      const value = (e.target as HTMLInputElement).value.trim();
      this.$emit("change", value);
    }
  }
});
</script>

<style>
.searchBar {
  box-shadow: 9px 9px 18px #afafaf, -9px -9px 18px #ffffff;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
}

input {
  background: white;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: 33vw;
}

button {
  background: #e0e0e0;
  padding: 5px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
}
</style>
