<template>
  <section>
    <h2>Vent</h2>
    <div>Vitesse : {{ speed }} m/s</div>
    <div>Direction : {{ direction }} ({{ deg }}°)</div>
  </section>
</template>

<script lang="ts">
import Vue from "vue";

const compassDirections = [
  "N",
  "NNE",
  "NE",
  "E",
  "ESE",
  "SE",
  "SSE",
  "S",
  "SSO",
  "SO",
  "OSO",
  "O",
  "ONO",
  "NO",
  "NNO",
  "N"
];

export default Vue.extend({
  props: {
    speed: Number,
    deg: Number
  },

  computed: {
    direction() {
      const quadrant = Math.round(this.deg / 22.5);
      return compassDirections[quadrant];
    }
  }
});
</script>

<style></style>
