<template>
  <div id="app">
    <header>
      <search-bar @change="cityNameChangeHandler" />
    </header>

    <main v-if="cityFound">
      <article>
        <h1 class="cityName">{{ city }}</h1>
        <temp-container :tempData="weatherData.main" />
        <div>
          <condition-container
            :description="weatherData.weather[0].description"
            :iconName="weatherData.weather[0].icon"
          />
          <vent-container v-bind="weatherData.wind" />
        </div>
      </article>
      <aside>
        <h3>Informations</h3>
        <city-info
          :cityName="city"
          :coord="weatherData.coord"
          :country="weatherData.sys.country"
        />
        <journee-container
          :sunrise="weatherData.sys.sunrise"
          :sunset="weatherData.sys.sunset"
        />
      </aside>
    </main>

    <main v-else-if="city">
      <h1>Aucune ville nommée "{{ city }}" n'a été trouvée...</h1>
    </main>

    <span class="loader"></span>
    <span class="loader"></span>
    <span class="loader"></span>
    <span class="loader"></span>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import SearchBar from "./components/SearchBar.vue";
import CityInfo from "./components/CityInfo.vue";
import TempContainer from "./components/Temperature/TempContainer.vue";
import ConditionContainer from "./components/ConditionContainer.vue";
import VentContainer from "./components/VentContainer.vue";
import JourneeContainer from "./components/JourneeContainer.vue";

const APIkey = "aa9a6f2ec32df3e10cef82713004365d";

interface Position {
  coords: {
    longitude: number;
    latitude: number;
  };
}

interface WeatherData {
  name: string;
  coord: {
    lon: 0;
    lat: 0;
  };
  main: {
    temp: number;
    feelsLike: number;
    tempMin: number;
    tempMax: number;
    pressure: number;
    humidity: number;
  };
  weather: [{ id: number; main: string; description: string; icon: string }];
  sys: {
    type: number;
    id: number;
    country: string;
    sunrise: number;
    sunset: number;
  };
  wind: {
    speed: number;
    deg: number;
  };
}

interface CityNotFound {
  cod: string;
  message: string;
}

export default Vue.extend({
  name: "App",
  components: {
    CityInfo,
    SearchBar,
    TempContainer,
    JourneeContainer,
    VentContainer,
    ConditionContainer
  },

  data: function() {
    return {
      city: "",
      cityFound: false,
      weatherData: {
        name: "",
        coord: {
          lon: 0,
          lat: 0
        },
        main: {
          temp: 0,
          feelsLike: 0,
          tempMin: 0,
          tempMax: 0,
          pressure: 0,
          humidity: 0
        },
        weather: [
          {
            id: 0,
            main: "",
            description: "Couvert",
            icon: "10d"
          }
        ],
        sys: {
          type: 0,
          id: 0,
          country: "FR",
          sunrise: 0,
          sunset: 0
        },
        wind: {
          speed: 0,
          deg: 0
        }
      }
    };
  },

  mounted() {
    if (navigator.geolocation) {
      const app = document.getElementById("app") as HTMLDivElement;
      app.classList.add("loading");
      navigator.geolocation.getCurrentPosition(this.fetchAPIDataFromCoord);
    }
  },

  watch: {
    city() {
      this.fetchAPIData();
    }
  },

  methods: {
    cityNameChangeHandler(value: string) {
      if (value) {
        this.city = value;
      }
    },

    fetchAPIDataFromCoord(position: Position) {
      fetch(
        `http://api.openweathermap.org/data/2.5/weather?lat=${position.coords.latitude}&lon=${position.coords.longitude}&appid=${APIkey}&units=metric&lang=fr`
      )
        .then(data => data.json())
        .then((json: WeatherData | CityNotFound) => {
          if (this.APIResponseIsWeatherData(json)) {
            this.weatherData = json;
            this.city = this.weatherData.name;
            this.cityFound = true;
          } else {
            this.cityFound = false;
          }
          const app = document.getElementById("app") as HTMLDivElement;
          console.log("fini");
          app.classList.remove("loading");
        });
    },

    fetchAPIData() {
      const app = document.getElementById("app") as HTMLDivElement;
      app.classList.add("loading");
      fetch(
        `http://api.openweathermap.org/data/2.5/weather?q=${this.city}&appid=${APIkey}&units=metric&lang=fr`
      )
        .then(data => data.json())
        .then((json: WeatherData | CityNotFound) => {
          if (this.APIResponseIsWeatherData(json)) {
            this.weatherData = json;
            this.city = this.weatherData.name;
            this.cityFound = true;
          } else {
            this.cityFound = false;
          }
          app.classList.remove("loading");
        });
    },

    APIResponseIsWeatherData(
      response: WeatherData | CityNotFound
    ): response is WeatherData {
      if ((response as WeatherData).coord) {
        return true;
      }
      return false;
    }
  }
});
</script>

<style>
body {
  position: relative;
  margin: 0;
  background: #e0e0e0;
  color: midnightblue;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 25px;
  background: #ececec;
  box-shadow: 0 0 10px #bebebe;
}

header,
h1,
aside {
  margin-bottom: 10vmin;
}

h1 {
  /* box-shadow: 18px 18px 36px #bebebe, -18px -18px 36px #ffffff; */
  padding: 1rem;
  padding-left: 0;
  word-break: break-all;
  border-radius: 15px;
  margin-top: 0;
  width: 100%;
}

h1.cityName {
  font-size: calc(15px + 10vmin);
  text-transform: capitalize;
  color: #e0e0e0;
  text-shadow: 2px 2px 4px #8f8f8f, -2px -2px 4px #ffffff;
}

h2,
h3 {
  color: #e0e0e0;
  text-shadow: 1px 1px 2px #8f8f8f, -1px -1px 2px #ffffff;
}

main {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1em;
}

article {
  width: max(70%, 250px);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

aside {
  height: fit-content;
  min-width: 150px;
  padding: 1em;
  border-radius: 15px;
  box-shadow: inset 6px 6px 12px #afafaf, inset -6px -6px 12px #ffffff;
}

section {
  margin: 1rem;
  width: fit-content;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 8px 8px 15px #afafaf, -8px -8px 15px #ffffff;
}

.loader {
  display: inline-block;
  position: fixed;
  top: calc(50% - 0.5rem);
  left: calc(50% - 0.5rem);
  border: 3px solid transparent;
  border-top: 3px solid midnightblue;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 4s ease-in-out infinite;
  opacity: 0;
  transition: opacity 0.5s;
}
.loader:nth-of-type(2) {
  border-top: 3px solid gold;
  animation-delay: 1s;
}
.loader:nth-of-type(3) {
  border-top: 3px solid crimson;
  animation-delay: 2s;
}
.loader:nth-of-type(4) {
  border-top: 3px solid green;
  animation-delay: 3s;
}

.loading .loader {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1100px) {
  article > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
</style>
